.main {
    position: relative;
    top: 87px;
    margin-bottom: 80px;
}

.cart-comment {
    font-size: 20px;
    color: #ff3333;
}

/* テーブル系 */

.table-wrap {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.table-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.item-title {
    text-align: center;
}

.cart-pro:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.cart-table {
    border-collapse: separate;
    border-spacing: 30px 20px;
    ;
}

.table-item {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.table-item-pName{
    padding-top: 100px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.table-item__text {
    margin: 10px 0px;
}

.img {
    width: 100px;
    height: 100px;
    /*background-color: #ddd;*/
}

.detail-link {
    text-decoration: none;
}

/* ボタン系 */

.btn-wrap__delete {
    margin-top: 5px;
    margin-bottom: 10px;
}

.pro-delete__btn {
    font-size: 15px;
    color: #333;
    margin-top: 10px;
    border: none;
    border-bottom: solid #ccc;
    background-color: #fff;
}

.pro-delete__btn:hover {
    background-color: #ccc;
    transition: 0.4s;
}

.btn-wrap__purchase {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.delete-btn,
.purchase-btn {
    font-size: 18px;
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    color: #3366ff;
    border: solid 2px #3366ff;
    border-radius: 3px;
    transition: 0.4s;
}

.delete-btn:hover,
.purchase-btn:hover {
    background: #aaaaff;
    color: black;
}

@media (min-width: 768px) {
    .main {
        margin-top: 70px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        min-height: calc(100vh - 304px);
    }
    .contents-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cart-box{
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 48px;
    height: 48px;
    z-index: 2147483000;
    cursor: pointer;
    background-position: 50%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.cart-items-count{
    position:relative;
    /*display:flex;*/
    text-align:center;
    justify-content: center;
    top:-60px;
}

.notification-counter {   
    position: absolute;
    left: 20px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 15px Verdana;
}




